/target/
*/target/*
*.class
.buildpath
.project
/.settings/
META-INF/
.externalToolBuilders/
.classpath
.prefs
.metadata
*.MF
.component
.jsdtscope
.container
.name
.launch

.checkstyle
org.eclipse.jdt.core.prefs
org.eclipse.wst.common.component
pom.properties
